[submodule "base"]
	path = base
	url = https://github.com/Mottle/FallacyBase.git
[submodule "survive"]
	path = survive
	url = https://github.com/Mottle/FallacySurvive.git
[submodule "thermal"]
	path = thermal
	url = https://github.com/Mottle/FallacyThermal.git
